@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sourceSans;
  src: url(/fonts/SourceSans3-VariableFont_wght.ttf);
}

img {
  max-width: 100%;
}

* {
  font-family: sourceSans !important;
}

.react-ios-time-picker {
  margin-bottom: 400px !important;
}
html {
  width: 410px;
}
