@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sourceSans;
  src: url(/fonts/SourceSans3-VariableFont_wght.ttf);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

img {
  max-width: 100%;
}

* {
  font-family: sourceSans !important;
}

.yoda {
  animation: MoveUpDown 2s ease-in-out infinite;
  /* position: absolute; */
  /* left: 0; */
  /* bottom: 0; */
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}



.active svg{
  background-color: #E28F83;
    border-radius: 10px;
    padding: 5px;
    stroke:white;
    fill: white;
    width: 35px;
    height: 35px;
}

.active p{
  color: #E28F83;
}

